[superuser]
id = 245913861
motion = yes
gas greater = 500
co2 greater = 500
temp greater = 30
temp less = 15
moist greater = since 100
moist less = 10

[85975]
status = banned

[293084293084]
status = pending

[1098219308]
status = granted

[2946736673]
status = granted

[224646333]
status = granted

